/* Animation Related Styling */

.fade-out * {
	/* opacity: 1; */
	animation: fadeOut 0.375s ease-in-out forwards;
}

.fade-in * {
	/* opacity: 0; */
	animation: fadeIn 0.375s ease-in-out forwards;
}

.cursor {
	width: 0.6em;
	height: 1.3em;
	position: absolute;
	background-color: var(--text-color);
	animation: blink 900ms infinite !important;
}

.glitch-text {
	position: relative;
	text-shadow: 0.055em 0 0 var(--glitch-text-color1),
		-0.03em -0.04em 0 var(--glitch-text-color2),
		0.025em 0.04em 0 var(--glitch-text-color3);
	animation: glitch-text 275ms step-end infinite;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(0.5em);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(0.5em);
	}
}

@keyframes blink {
	0%,
	49% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0;
	}
}

@keyframes glitch-text {
	0% {
		text-shadow: 0.055em 0 0 var(--glitch-text-color1),
			-0.03em -0.04em 0 var(--glitch-text-color2),
			0.025em 0.04em 0 var(--glitch-text-color3);
	}
	25% {
		text-shadow: -0.055em -0.025em 0 var(--glitch-text-color1),
			0.025em 0.035em 0 var(--glitch-text-color2),
			-0.055em -0.055em 0 var(--glitch-text-color3);
	}
	50% {
		text-shadow: 0.055em 0.035em 0 var(--glitch-text-color1),
			0.03em 0 0 var(--glitch-text-color2),
			0 -0.04em 0 var(--glitch-text-color3);
	}
	75% {
		text-shadow: -0.055em 0 0 var(--glitch-text-color1),
			-0.025em -0.04em 0 var(--glitch-text-color2),
			-0.04em -0.025em 0 var(--glitch-text-color3);
	}
}

@keyframes big-glitch-text {
	0% {
		text-shadow: 0.220em 0 0 var(--glitch-text-color1),
			-0.120em -0.160em 0 var(--glitch-text-color2),
			0.100em 0.160em 0 var(--glitch-text-color3);
	}
	25% {
		text-shadow: -0.220em -0.100em 0 var(--glitch-text-color1),
			0.100em 0.035em 0 var(--glitch-text-color2),
			-0.220em -0.220em 0 var(--glitch-text-color3);
	}
	50% {
		text-shadow: 0.220em 0.035em 0 var(--glitch-text-color1),
			0.120em 0 0 var(--glitch-text-color2),
			0 -0.160em 0 var(--glitch-text-color3);
	}
	75% {
		text-shadow: -0.220em 0 0 var(--glitch-text-color1),
			-0.100em -0.160em 0 var(--glitch-text-color2),
			-0.160em -0.100em 0 var(--glitch-text-color3);
	}
}

/* Reduced motion */

@media screen and (prefers-reduced-motion: reduce)
{
	.glitch-text {
		text-shadow: none;
		animation: none;
	}
}
.reduced-motion {
	.glitch-text {
		text-shadow: none;
		animation: none;
	}
}