@import url(content/index.css);
@import url(content/error.css);
@import url(content/webgl.css);

#content {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 4em 1em 0 1em;
}

#content > * {
	margin: 1em 0 1em 0;
}

#content main {
	min-height: 80vh;
}

#rose {
	position: fixed;
	top: 1em;
	left: auto;
	right: -5em;
	margin-right: auto;
	margin-left: auto;
	z-index: -1;

	width: 90%;
	max-width: 25em;
	opacity: 0.95;
	padding: 0;
}

#rose path {
	transition: fill 0.5s, stroke 0.5s;
	stroke: var(--rose-stroke);
	fill: var(--rose-fill);
}

#rose.unfilled path {
	fill: transparent;
}
#rose.start path {
	transition: fill 2.75s;
}
