#main-footer {
	margin: 1em 0 1em 0;
}

.copyright {
	margin: 6em 0 0 0;
	font-size: xx-small;
	max-width: 135ch;
	color: var(--copyright-color);
}

.copyright details[open] > summary {
	color: var(--text-color);
}

.copyright a { color: currentColor; }
.copyright a:visited { color: currentColor; }
.copyright a:hover { color: var(--contrast-color); }
.copyright a:focus { color: var(--contrast-color);}
.copyright a:active { color: var(--contrast-color); }