footer {
	margin-top: 5rem;
}

/* copyright */

footer details[open] > summary {
	color: var(--text-color);
}
.copyright > summary {
	margin-left: auto;
}
.copyright > * {
	margin-left: 0.1rem;
}
.copyright {
	color: var(--copyright-color);
	font-size: xx-small;

	min-height: 1.5rem;
}

.copyright a { color: currentColor; }
.copyright a:visited { color: currentColor; }
.copyright a:hover { color: var(--contrast-color); }
.copyright a:focus { color: var(--contrast-color);}
.copyright a:active { color: var(--contrast-color); }

/* Contacts */

footer address {
	font-size: small;
	font-style: normal;

	a {
		color: var(--copyright-color);
		text-decoration: none;
	}

	a:hover { color: var(--contrast-color); }
	a:focus { color: var(--contrast-color);}
	a:active { color: var(--contrast-color); }

	svg {
		vertical-align: 0;
		display: inline-block;
		width: 1em;
		height: 1em;
	}
}
