footer {
	margin-top: 5rem;
}

/* copyright */

footer details[open] > summary {
	color: var(--text-color);
}
details[open] summary ~ * {
	animation: fadeIn .5s ease-in-out;
}

.copyright > summary {
	margin-left: auto;
}
.copyright > * {
	margin-left: 0.125rem;
}
.copyright {
	color: var(--copyright-color);
	font-size: xx-small;
	padding: 0.5rem 0.05rem;
}

.copyright a { color: currentColor; }
.copyright a:visited { color: currentColor; }
.copyright a:hover { color: var(--contrast-color); }
.copyright a:focus { color: var(--contrast-color);}
.copyright a:active { color: var(--contrast-color); }

/* Contacts */

footer address {
	font-size: small;
	font-style: normal;

	a {
		color: var(--copyright-color);
		text-decoration: none;
	}

	a:hover { color: var(--contrast-color); }
	a:focus { color: var(--contrast-color);}
	a:active { color: var(--contrast-color); }

	svg {
		vertical-align: 0;
		display: inline-block;
		width: 1em;
		height: 1em;
	}
}
