/*
	Main Styling
	- Light/Dark Themes
	- Fonts
	- default element
*/

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

[hidden] {
	display: none !important;
}

:root {
	--light-contrast-color: #000000;
	--light-text-color: #333333;
	--light-background-color: #e7e9ea; /* White Marble */
	--light-secondary-color: #c0c0c0;
	--light-copyright-color: #676869;
	--light-rose-stroke: #fbc4d0;
	--light-rose-fill: #f7f0f2;
	--light-glitch-text-color1: #ff0051;
	--light-glitch-text-color2: #00ff00;
	--light-glitch-text-color3:  #0000ff;

	--dark-contrast-color: #ffffff;
	--dark-text-color: #eeeeee;
	--dark-background-color: #1c1e1e; /* Raven Black */
	--dark-secondary-color: #41424c;
	--dark-copyright-color: #858585;
	--dark-rose-stroke: #e4345a;
	--dark-rose-fill: #960018;
	--dark-glitch-text-color1: #00ffff;
	--dark-glitch-text-color2: #ff00ff;
	--dark-glitch-text-color3: #ffff00;


	--contrast-color: var(--light-contrast-color);
	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
	--secondary-color: var(--light-secondary-color);
	--copyright-color: var(--light-copyright-color);
	--rose-stroke: var(--light-rose-stroke);
	--rose-fill: var(--light-rose-fill);
	--glitch-text-color1: var(--light-glitch-text-color1);
	--glitch-text-color2: var(--light-glitch-text-color2);
	--glitch-text-color3: var(--light-glitch-text-color3);

	--system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, system-ui;
	--monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.icon img[src$=".svg"],
.icon img[src^="data:image/svg"] {
	filter: invert(0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--contrast-color: var(--dark-contrast-color);
		--text-color: var(--dark-text-color);
		--background-color: var(--dark-background-color);
		--secondary-color: var(--dark-secondary-color);
		--copyright-color: var(--dark-copyright-color);
		--rose-stroke: var(--dark-rose-stroke);
		--rose-fill: var(--dark-rose-fill);
		--glitch-text-color1: var(--dark-glitch-text-color1);
		--glitch-text-color2: var(--dark-glitch-text-color2);
		--glitch-text-color3: var(--dark-glitch-text-color3);
	}
	.icon img[src$=".svg"],
	.icon img[src^="data:image/svg"] {
		filter: invert(0.95);
	}
}

body.light {
	--contrast-color: var(--light-contrast-color);
	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
	--secondary-color: var(--light-secondary-color);
	--copyright-color: var(--light-copyright-color);
	--rose-stroke: var(--light-rose-stroke);
	--rose-fill: var(--light-rose-fill);
	--glitch-text-color1: var(--light-glitch-text-color1);
	--glitch-text-color2: var(--light-glitch-text-color2);
	--glitch-text-color3: var(--light-glitch-text-color3);
}

body.dark {
	--contrast-color: var(--dark-contrast-color);
	--text-color: var(--dark-text-color);
	--background-color: var(--dark-background-color);
	--secondary-color: var(--dark-secondary-color);
	--copyright-color: var(--dark-copyright-color);
	--rose-stroke: var(--dark-rose-stroke);
	--rose-fill: var(--dark-rose-fill);
	--glitch-text-color1: var(--dark-glitch-text-color1);
	--glitch-text-color2: var(--dark-glitch-text-color2);
	--glitch-text-color3: var(--dark-glitch-text-color3);
}

.light .icon img[src$=".svg"],
.light .icon img[src^="data:image/svg"] {
	filter: invert(0.2);
}

.dark .icon img[src$=".svg"],
.dark .icon img[src^="data:image/svg"] {
	filter: invert(0.95);
}

body {
	font-size: 1em;
	font-family: var(--system-ui);

	/* Fonts */
	font-variant-position: normal;
	font-variant-alternates: historical-forms;
	font-variation-settings: normal;
	font-variant-emoji: text;

	text-rendering: optimizeLegibility;

	color: #333;
	color: var(--text-color);
	background: #e7e9ea; /* Fallback color (White Marble) */
	background: var(--background-color);
	background-attachment: fixed;

	transition: color 0.35s, border-color 0.35s;
}

body > * {
	width: 100%;
}

/* elements */

svg {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a:not([href]) {
	pointer-events: none;
}

.icon-button {
	font-size: 1em;
	padding: 0.5em;
	width: 2.65em;
	height: 2.65em;

	line-height: 1em;

	font-family: inherit;
	font-style: normal;

	color: var(--text-color);
	background-color: var(--background-color);

	cursor: pointer;
	text-align: center;
	text-decoration: none;

	transition: background-color 0.3s, color 0.3s, border-color 0.3s,
		border-radius 0.5s;

	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.icon-button svg,
.icon-button img {
	pointer-events: none;
}

.icon-button:disabled,
.icon-button[disabled] {
	border: 0.2em solid #999999;
	background-color: #cccccc;
	color: #666666;
	transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}

.round-button {
	border: 0.185em solid var(--text-color);
	border-radius: 50%;
}

.square-button {
	border-radius: 0;
	border-top: 0.2em solid var(--text-color);
	border-left: 0.2em solid var(--text-color);
	border-right: 0.2em solid var(--secondary-color);
	border-bottom: 0.2em solid var(--secondary-color);
}

.icon {
	fill: var(--text-color);
}

.icon-solid {
	stroke: var(--text-color);
}

.square-icon {
	color: var(--text-color);
	background: var(--text-color);
	height: 3.75em;
	width: 3.75em;
	padding: 1em;
	border-radius: 1em;

	transition: background-color 0.3s, fill 0.3s, stroke 0.3s;
}

.square-icon svg {
	fill: var(--background-color);
}

.glyphe {
	font-size: 2em;
	line-height: 1em;
}

select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

	color: inherit;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0;
	margin: 0;

	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
}
.select {
	position: relative;
	display: grid;
	grid-template-areas: "select";
	align-items: center;

	min-width: 13ch;
	max-width: 25ch;
	border: 1px solid var(--secondary-color);
	border-radius: 0.25em;

	font-size: 1.15rem;
	cursor: pointer;
	line-height: 1.5;
	background: var(--secondary-color);
}
.select::before,
.select::after {
	--size: 0.45rem;
	position: absolute;
	content: "";
	right: 1rem;
	pointer-events: none;
}
.select::before {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-bottom: var(--size) solid var(--text-color);
	top: 27.5%;
}
.select::after {
	border-left: var(--size) solid transparent;
	border-right: var(--size) solid transparent;
	border-top: var(--size) solid var(--text-color);
	top: 55%;
}
.select > select {
	width: 100%;
	padding: 0.55em 0.75em;
}

noscript {
	line-height: 1.25em;
	box-sizing: border-box;
}

.multicolor {
	background: linear-gradient(to right, #EF5350, #F48FB1, #7E57C2, #2196F3, #26C6DA, #43A047, #ffd341, #F9A825, #FF5722);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
