/*
	Main Styling
*/

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

[hidden] {
	display: none !important;
}

:root {
	font-size: 1em;

	/* variables */

	--light-contrast-color: #000000;
	--light-text-color: #333333;
	--light-background-color: #e7e9ea; /* White Marble */
	--light-secondary-color: #c0c0c0;
	--light-copyright-color: #676869;
	--light-rose-stroke: #fbc4d0;
	--light-rose-fill: #f7f0f2;
	--light-glitch-text-color1: #ff0051;
	--light-glitch-text-color2: #00ff00;
	--light-glitch-text-color3: #0000ff;

	--dark-contrast-color: #ffffff;
	--dark-text-color: #eeeeee;
	--dark-background-color: #1c1e1e; /* Raven Black */
	--dark-secondary-color: #41424c;
	--dark-copyright-color: #858585;
	--dark-rose-stroke: #e4345a;
	--dark-rose-fill: #960018;
	--dark-glitch-text-color1: #00ffff;
	--dark-glitch-text-color2: #ff00ff;
	--dark-glitch-text-color3: #ffff00;

	--contrast-color: var(--light-contrast-color);
	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
	--secondary-color: var(--light-secondary-color);
	--copyright-color: var(--light-copyright-color);
	--rose-stroke: var(--light-rose-stroke);
	--rose-fill: var(--light-rose-fill);
	--glitch-text-color1: var(--light-glitch-text-color1);
	--glitch-text-color2: var(--light-glitch-text-color2);
	--glitch-text-color3: var(--light-glitch-text-color3);

	--system-ui: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif, system-ui;
	--monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
		"Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
		"Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

.icon img[src$=".svg"],
.icon img[src^="data:image/svg"] {
	filter: invert(0.2);
}

@media (prefers-color-scheme: dark) {
	:root {
		--contrast-color: var(--dark-contrast-color);
		--text-color: var(--dark-text-color);
		--background-color: var(--dark-background-color);
		--secondary-color: var(--dark-secondary-color);
		--copyright-color: var(--dark-copyright-color);
		--rose-stroke: var(--dark-rose-stroke);
		--rose-fill: var(--dark-rose-fill);
		--glitch-text-color1: var(--dark-glitch-text-color1);
		--glitch-text-color2: var(--dark-glitch-text-color2);
		--glitch-text-color3: var(--dark-glitch-text-color3);
	}
	.icon img[src$=".svg"],
	.icon img[src^="data:image/svg"] {
		filter: invert(0.95);
	}
}

body.light {
	--contrast-color: var(--light-contrast-color);
	--text-color: var(--light-text-color);
	--background-color: var(--light-background-color);
	--secondary-color: var(--light-secondary-color);
	--copyright-color: var(--light-copyright-color);
	--rose-stroke: var(--light-rose-stroke);
	--rose-fill: var(--light-rose-fill);
	--glitch-text-color1: var(--light-glitch-text-color1);
	--glitch-text-color2: var(--light-glitch-text-color2);
	--glitch-text-color3: var(--light-glitch-text-color3);
}

body.dark {
	--contrast-color: var(--dark-contrast-color);
	--text-color: var(--dark-text-color);
	--background-color: var(--dark-background-color);
	--secondary-color: var(--dark-secondary-color);
	--copyright-color: var(--dark-copyright-color);
	--rose-stroke: var(--dark-rose-stroke);
	--rose-fill: var(--dark-rose-fill);
	--glitch-text-color1: var(--dark-glitch-text-color1);
	--glitch-text-color2: var(--dark-glitch-text-color2);
	--glitch-text-color3: var(--dark-glitch-text-color3);
}

.light .icon img[src$=".svg"],
.light .icon img[src^="data:image/svg"] {
	filter: invert(0.2);
}

.dark .icon img[src$=".svg"],
.dark .icon img[src^="data:image/svg"] {
	filter: invert(0.95);
}

body {
	/* Fonts */
	font-family: var(--system-ui);
	font-variant-position: normal;
	font-variant-alternates: historical-forms;
	font-variation-settings: normal;
	font-variant-emoji: text;

	text-rendering: optimizeLegibility;

	color: #333;
	color: var(--text-color);
	background: #e7e9ea; /* Fallback color (White Marble) */
	background: var(--background-color);
	background-attachment: fixed;

	transition: font-size 0.5s, color 0.35s, border-color 0.35s;
}

body > * {
	max-width: 100%;
}

h1 {
	font-size: 2.75rem;
}
h2 {
	font-size: 2.25rem;
}
h3 {
	font-size: 1.5rem;
}

/* elements */

svg {
	width: 100%;
	height: auto;
	max-width: 100%;
}

a:not([href]) {
	pointer-events: none;
}

