@media (min-width: 40em) {
  body {
    font-size: 14px;
  }

  .profile {
    height: 9.8em;
    padding: 0 0 30px 0;
  }
  .profile img {
    width: 100px;
    height: 100px;
  }
}

@media (min-width: 40em) and (min-width: 80em) {
  body {
    padding: 25px 10px 0 20px;
    font-size: 16px;
  }

  .profile {
    height: 28em;
    display: inline-block;
    max-width: 350px;
    border-bottom: none rgba(0, 0, 0, 0);
  }

  .profile .info {
    margin-left: 0px;
    display: block;
  }

  .profile img {
    width: 200px;
    height: 200px;
  }

  .at {
    display: inline;
    margin-left: 0.7em;
  }
}

@media (min-width: 80em) {
  .container {
    flex-direction: row;
  }

  .profile {
    margin-bottom: 0;
  }
  .profile .info h1 {
    margin-top: 0;
  }

  li svg {
    top: 0.5em;
    height: 1.45em;
    width: 1.45em;
  }

  .card {
    width: 45%;
    margin-right: 0.8em;
    display: inline-block;
  }

  .socialLinks li {
    display: block;
  }
}

@media (min-width: 40em) and (min-width: 80em) and (min-width: 130em) {
  body {
    font-size: 23px;
  }

  .at {
    display: inline-block;
  }

  .card {
    width: 30%;
    display: inline-block;
  }
}