/* Content specific Stling */

#content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 7.5em 1em 0 1em;
}

#content > * {
    margin: 1em 0 1em 0;
}

#greeting h2 {
    font-weight: 400;
    height: 1.4em;
}

#rose {
    position: fixed;
    top: 1em;
    left: auto;
    right: -5em;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;

    width: 90%;
    max-width: 25em;
    opacity: 0.95;
    padding: 0;
}

#rose path {
    transition: fill 0.5s, stroke 0.5s;
    stroke: var(--rose-stroke);
    fill: var(--rose-fill);
}

#links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#links > * {
    flex: 0 0 auto;
    margin: 0.25em;
}

#links > .icon {
    width: 5em;
    height: 5em;
    padding: 0.5em;
    margin-right: 1em;
}

#links > .icon > img {
    width: 100px;
    height: 100px;
}

#links > .square-icon {
    margin-right: 0.5em;
}

.about {
    margin-top: 4em;
    line-height: 2em;
    font-size: 1.25em;
    max-width: 50ch;
}

#glcanvas {
    width: 100%;
}
