/* Content specific Stling */

.content {
    height: 100%;
    padding: 7.5em 0 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.content > * {
    padding: 1em;
}

#greeting h2 {
    font-weight: 400;
    height: 1.4em;
}

#rose {
    position: fixed;
    top: 1em;
    left: auto;
    right: -5em;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;

    width: 90%;
    max-width: 25em;
    opacity: 0.95;
    padding: 0;
}

#rose path {
    transition: fill 0.5s, stroke 0.5s;
    stroke: #fbc4d0; /* #ffbac1; ##efa3aa; #fcdae4 #fdd7de #ff93a2 #f09bb1 #e86c82 faabbc ffcfcf*/
    fill: #f7f0f2; /* #fde5ec; #f7f0f2; #fcdae4*/
}

.dark #rose path {
    stroke: #E4345A;
    fill: #960018;
}

#links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#links > * {
    flex: 0 0 auto;
    margin: 0.25em;
}

#links > .icon {
    width: 5em;
    height: 5em;
    padding: 1em;
    margin-right: 1em;
}

#links > .square-icon {
    margin-right: 0.5em;
}

.about {
    line-height: 2em;
    font-size: 1.25em;
    max-width: 50ch;
}

.contact h2 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}

#main-footer {
    margin: 25% 0 1em 0;
}

.copyright {
    font-size: xx-small;
    max-width: 135ch;
    color: #676869
}

.dark .copyright {
    color: #868686
}

.copyright a { color: currentColor; }
.copyright a:visited { color: currentColor; }
.copyright a:hover { color:black; }
.copyright a:focus { color:black; }
.copyright a:active { color:black }
.dark .copyright a:hover { color:white; }
.dark .copyright a:focus { color:white; }
.dark .copyright a:active { color:white; }