
#main-footer {
    margin: 1em 0 1em 0;
}

.contact h2 {
    margin-block-start: .5em;
    margin-block-end: .5em;
}

.copyright {
	margin: 6em 0 0 0;
    font-size: xx-small;
    max-width: 135ch;
    color: #676869
}

.dark .copyright {
    color: #858585
}

.copyright a { color: currentColor; }
.copyright a:visited { color: currentColor; }
.copyright a:hover { color:black; }
.copyright a:focus { color:black; }
.copyright a:active { color:black }
.dark .copyright a:hover { color:white; }
.dark .copyright a:focus { color:white; }
.dark .copyright a:active { color:white; }