/* Navigation Related Styling */

.horizontal-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    box-sizing: border-box;
    padding: 1em 0.85em 1em 0.85em;

    background: var(--background-color);
    border-bottom: 0.15em solid var(--text-color);

    touch-action: manipulation;
}

.horizontal-menu > * {
    flex: 0 0 auto;
}

#navbar {
	position: absolute;
	top: 0;
	z-index: 5;
}

#main-menu {
	z-index: 4;
}

#main-menu > * {
    margin: 0 0 0 1.5em;
}

#language-menu {
    z-index: 3;
	padding-top: 7em;
}

#language-menu > *  {
    margin: 0.25em;
}

.top-menu {
    position: fixed;
    top: 0;
    width: inherit;
    transition: top 0.3s;
}

/* closed menu position */

#main-menu.close {
    top: -6em; /* Hide the navbar above the viewport */
}

#language-menu.close {
    top: -12em; /* Hide the navbar above the viewport */
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 2;
    background: none;
    border-bottom: none;
}
