/* index content */


.hello-world {
	display: block;
	max-width: 60ch;
}

.hello-world > * {
	margin-top: 4em;
}

.hello-world > header {
	margin-top: 3em;
}

#job-title {
	font-weight: normal;
	height: 1.4em;
	transition: letter-spacing 0.3s 0.15s;
}

#job-title.spacing {
	transition: none;
	letter-spacing: 0.1375em;
}

:lang(fr) #job-title.spacing:not(:has(.cursor)) {
	letter-spacing: 0.15em;
}

#job-title:has(.cursor) {
	letter-spacing: normal;
	font-family: var(--monospace);
}

#about {
	margin-top: 4em;
	font-size: 1.25rem;
	line-height: 1.75em;
	h3 {
		font-weight: 550;
	}
}

#link-up h2 {
	margin-block-end: 0.5em;
}

#contact-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-left: -0.25em;
}

#contact-links > * {
	flex: 0 0 auto;
	margin: 0.25em;
}
