/* index content */


#hello-world {
	max-width: 60ch;
	display: block;
}

#hello-world > * {
	margin-top: 4em;
}

#hello-world > header {
	margin-top: 3em;
}

#job-title {
	font-weight: normal;
	height: 2.25rem;
	transition: font-size 0.5s 0.25s, letter-spacing 0.5s 0.25s;
}

#job-title.spacing {
	font-size: clamp(1.5rem, 3.5vw, 2.25rem); /* 1.575rem; */
	transition: none;
	letter-spacing: 0.1375em;
}

:lang(fr) #job-title.spacing:not(:has(.cursor)) {
	letter-spacing: 0.15em;
}

#job-title:has(.cursor) {
	letter-spacing: normal;
	font-family: var(--monospace);
}

#about {
	font-size: 1.25em;
	margin-top: 4em;
	line-height: 1.75em;
	h3 {
		font-weight: 550;
	}
}

#link-up h2 {
	margin-block-end: 0.5em;
}

#contact-links {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-left: -0.25em;
}

#contact-links > * {
	flex: 0 0 auto;
	margin: 0.25em;
}
