body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #333;
    --background-color: #e7e9ea
    /* Carrara White ->  White Marble 
    --background-color: linear-gradient(0deg, #f3f4ef,#f0f3ef, #edf1ee, #ebefee, #e9eded, #e8ebec,#e7e9ea);*/
}

body {
    font-size: 1em;
    font-family: 'M PLUS 2', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;

    color: var(--text-color);
    background: #e7e9ea; /* Fallback color (White Marble) */
    background: var(--background-color);
    background-attachment: fixed;
}

body.dark {
    --text-color: #fff;
    /* Raven Black */
    --background-color: #1c1e1e;
}

body > * {
    width: 100%;
}

#greeting {
    margin: 1em 0 0 0;
    padding: 1em;
}


#greeting h2 {
    font-weight: 400;
    line-height: 1.4em;
}

.bolderish {
    text-shadow: 0.33px 0 0 #333, 0 0px 0 #333, -0.33px 0 0 #333, 0 -0.33px 0 #333;
}

.dark .bolderish {
    text-shadow: 0.33px 0 0 #fff, 0 0px 0 #fff, -0.33px 0 0 #fff, 0 -0.33px 0 #fff;
}

.content {
    height: 100%;
}

button {
    font-size: 2em;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--background-color);
    width: 1.77em;
    height: 1.77em;
}

.round-button {
    border: 2px solid var(--text-color);
    border-radius: 50%;

}

#navbar {
    transition: top 0.2s;
    position: fixed;
    top: 0;
    padding: 1em;
    background: var(--background-color);
    border-bottom: 0.15em solid var(--text-color);
    z-index: 3;
    box-sizing: border-box;
    flex-grow: 0; /* Don't allow growth */
    flex-shrink: 0; /* Don't allow shrinking */
}

#menu {
    display: flex;
    justify-content: flex-end;
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 100%;
    flex-grow: 0; /* Don't allow growth */
    flex-shrink: 0; /* Don't allow shrinking */
}

#reveal-navbar {
    font-weight: bold;
    position: absolute;
    right: 0;
    margin: 0.25em;
}

#hide-navbar {
    margin: 0 0 0 1em;
}

#navbar.hidden {
    top: -6em; /* Hide the navbar above the viewport */
}

.blabla {
    margin: 1em;
    line-height: 2em;
}

@media (min-width: 768px) {
    :root {
        font-size: 1.125em; /* 18px (1.125 * 16px) */
    }
    h1 {
        font-size: 2em;
    }
    #navbar {
        padding: 1.25em 1em 1em 1em;
    }
    #reveal-navbar {
        margin: 0.35em 0.5em 0.5em 0.5em;
    }
}

@media (min-width: 1024px) {
    :root {
        font-size: 1.25em; /* 20px (1.25 * 16px) */
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensure full viewport height */
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    body > * {
        width: 75%;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 1.375em; /* 22px (1.375 * 16px) */
    }
    body > * {
        width: 60%;
    }
}

@media (min-width: 3840px) {
    :root {
        font-size: 1.5em; /* 24px (1.5 * 16px) */
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    body > * {
        width: 40%;
    }
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* blink animation */
@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;  /* Added to keep text from wrapping, useful for longer text */
}