body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #333;
    --background-color: #e7e9ea; /* White Marble */
    --secondary-color: #C0C0C0;
    --system-ui: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin-top: 5em;
    font-size: 1em;
    font-family: 'M PLUS 2', -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;

    color: #333;
    color: var(--text-color);
    background: #e7e9ea; /* Fallback color (White Marble) */
    background: var(--background-color);
    background-attachment: fixed;
}

body.dark {
    --text-color: #fff;
    --background-color: #1c1e1e; /* Raven Black */
    --secondary-color: #41424C;
}

body > * {
    width: 100%;
}

#greeting {
    margin: 1em 0 0 0;
    padding: 1em;
}

.cursor {
    width: 0.6em;
    height: 1.3em;
    position: absolute;
    background-color: var(--text-color);
}

#greeting h2 {
    font-weight: 400;
    height: 1.4em;
}

.bolderish {
    text-shadow: 0.33px 0 0 #333, 0 0px 0 #333, -0.33px 0 0 #333, 0 -0.33px 0 #333;
}

.dark .bolderish {
    text-shadow: 0.33px 0 0 #fff, 0 0px 0 #fff, -0.33px 0 0 #fff, 0 -0.33px 0 #fff;
}

button {
    padding: 0;
    width: 1.77em;
    height: 1.77em;

    font-size: 2em;
    font-family: 'Noto Sans Symbols 2', -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);

    cursor: pointer;
    text-align: center;
    text-decoration: none;

    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.round-button {
    border: 0.07em solid var(--text-color);
    border-radius: 50%;
}

.square-button {
    border-radius: 0;
    border-top:    0.08em solid var(--text-color);
    border-left:   0.08em solid var(--text-color);
    border-right:  0.08em solid var(--secondary-color);
    border-bottom: 0.08em solid var(--secondary-color);
}

.symbol {
    /*
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    */
    font-size: 1.35em;
    line-height: 1.3em;
  }
  

svg {
    max-width: 100%;
}

#navbar {
    max-width: 100%;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 3;
    background: var(--background-color);
    border-bottom: 0.15em solid var(--text-color);
    box-sizing: border-box;
    flex-grow: 0;
    transition: top 0.2s;
}

#navbar button {
    line-height: 2em;
}

#menu {
    display: flex;
    justify-content: flex-end;
}

#open-navbar {
    position: absolute;
    right: 0;
    margin: 0.25em;
}

#close-navbar {
    margin: 0 0 0 1em;
}

#navbar.close {
    top: -6em; /* Hide the navbar above the viewport */
}

.overlay {
    position: fixed;
    top: 0;
    z-index: 2;
    height: 10%;
    flex-grow: 0;
    flex-shrink: 0;
}

.content {
    height: 100%;
}

.blabla {
    margin: 1em;
    line-height: 2em;
}

@media (min-width: 768px) {
    :root {
        font-size: 1.125em; /* 18px (1.125 * 16px) */
    }
    h1 {
        font-size: 2em;
    }
    #navbar {
        padding: 1.25em 1em 1em 1em;
    }
    #reveal-navbar {
        margin: 0.35em 0.5em 0.5em 0.5em;
    }
}

@media (min-width: 1024px) {
    :root {
        font-size: 1.25em; /* 20px (1.25 * 16px) */
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh; /* Ensure full viewport height */
    }
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2.5em;
    }
    body > * {
        width: 75%;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 1.375em; /* 22px (1.375 * 16px) */
    }
    body > * {
        width: 60%;
    }
}

@media (min-width: 3840px) {
    :root {
        font-size: 1.5em; /* 24px (1.5 * 16px) */
    }
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 3em;
    }
    body > * {
        width: 40%;
    }
}

/* Fade-in animation */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* blink animation */
@keyframes blink {
    0%, 49% {
        opacity: 1;
    }
    50%, 100% {
        opacity: 0;
    }
}

.hidden {
    visibility: hidden;
}

.sr-only {
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
}